/* ---- COMMON CLASSES ---*/
.no-margin{
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-overflow {
    overflow: hidden;
}
.no-decoration {
    text-decoration: none !important;
}
.no-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.no-border {
    border: none !important;
}
.no-border-radius {
    border-radius: 0 !important;
}
.disabled, .disabled:hover{
    cursor: no-drop !important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-adjust {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.inline-block-display {
    display: inline-block;
}
.add-pointer {
    cursor: pointer;
}