@media (max-width: 769px){
    #header-lang-description {
        font-size: 9px;
        /*padding: 0;*/
    }
    .header-title-description {
        font-size: 14px;
        padding-left: 0;
    }
    .flag-icons {
        height: 25px;
        max-width: 30px;
        margin-top: 7px;
    }
    #navigationbar {
        width: 100% !important;
    }
    #vd-footer, #footer-rights-reserved{
        font-size: 11px;
    }
    #vd-footer h3 {
        font-size: 18px;
        text-align: center;
    }
    #vd-footer h5 {
        font-size: 14px;
        margin-top: 10px;
    }
    #footer-rights-reserved span {
        font-size: 15px;
    }
    .footer-contact-info {
        text-align: center;
        margin: 5px 0;
    }
    .footer-facilities-column, .footer-contact-info {
        padding: 0;
    }
    #footer-feedback {
        font-size: 12px;
        text-align: center;
    }
    .button-div {
        padding: 6px;
    }
    #footer-feedback span {
        padding-right: 0 !important;
    }
    #fixed-info-bar {
        width: 10px;
        height: 280px;
        border-right: 10px solid #A2A0A0;
        overflow: hidden;
    }
    .fixed-info-icons {
        height: 25px;
        width: 25px;
    }
    .fixed-line-info {
        height: 35px;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease;
        transition: none;
    }
    .image-description {
        margin-top: -20px;
    }
    .image-description-text {
        font-size: 16px;
        padding: 10px;
    }
    .beach-thumbnail img {
        height: auto;
    }
    .places-content h2 {
        font-size: 26px;
    }
    .places-content > .col-xs-12 {
        padding: 0;
    }
    .price-header {
        padding: 2px !important;
    }
    .price-title {
        font-size: 16px;
    }
    .price-date {
        font-size: 13px;
    }
    .image-caption {
        bottom: 0;
        opacity: 1;
        padding: 8px 5px;
    }
    .image-caption h4 {
        font-size: 13px;
        margin: 0;
    }
    .nightlife-title {
        font-size: 19px;
        padding: 0;
    }
    .video-content {
        padding: 0;
    }
    .services-list {
        padding-left: 5px;
    }
    .services-list li {
        font-size: 16px;
    }
    blockquote h2 {
        width: 100%;
    }
    input[type=submit].confirm-button {
        width: 100%;
    }
    fieldset {
        padding: 0 !important;
    }
    .rating-feedback > label:before {
        font-size: 26px;
    }
    .form-group.feedback-group-form {
        margin: 0 0 5px;
    }
    .user-rating {
        font-size: 16px;
        margin-bottom: 2px;
    }
}
@media (max-width:760px){
    .navigation-tab {
        width: 100%;
    }
}
@media (min-width: 768px){
    .navbar-collapse {
        width: 100% !important;
    }
}
@media (min-width: 1200px){
    .navbar-collapse {
        width: 66.66666667% !important;
    }
}
@media (max-width: 991px) {
    .footer-facilities-column {
        border-bottom: 1px solid #fff;
    }
}