
/* ----- MAIN ------- */
html, body {
    height: 100%;
    background: url(../images/sea_beach_horizon.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    color: #333333;
    margin: auto;
}
#wrapper {
    -webkit-box-shadow: 0px 0px 22px -3px #000;
    -moz-box-shadow: 0px 0px 22px -3px #000;
    box-shadow: 0px 0px 22px -3px #000;
}
div{
    display: block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---- HEADER  -------*/
#vd-main-header {
    max-height: 440px;
    /*background-color: #FF9999;*/
}
#header-lang {
    background-color: #3E4149;
    color: #fff;
    height: 40px;
    align-items: center;
    margin: 0 auto;
    /*width: 50%;*/
}
#header-lang-description {
    padding: 0 0 0 8px !important;
}
.header-title-description, #footer-rights-reserved span {
    font-weight: bold;
    font-style: italic;
    font-family: initial;
    font-size: 20px;
    padding-left: 5px;
    color: #FFC8C8;
}
#header-title {
    max-height: 400px;
    font-size: 64px;
    color: #FFF;
    font-weight: bold;
}
#header-title img {
    width: 100%;
    max-height: 400px;
    margin: auto;
}
.flag-icons {
    height: 30px;
    max-width: 35px;
    margin-top: 4px;
}
.flag-icons-text {
    padding: 5px;
    margin-top: 4px;
}
.icon-flags-div {
    width: calc(100% / 3);
    float: left;
    padding-right: 2px;
}

/* --- NAVIGATION ----*/
#navigationbar {
    width: 100% !important;
}
.fixedNavigation {
    position: fixed;
    z-index: 300;
}

.navbar-default {
    background-color: #444F5A;
}
#vd-navigation-list {
    width: 100%;
}
#vd-navigation-list li a {
    color: #B3B3B3;
    padding: 15px 0;
}
#vd-navigation-list li a .fa {
    padding-right: 5px;
}
#vd-navigation-list li a:hover {
    color: #fff;
}
#vd-navigation-list li.active a {
    background-color: #EAEAEA;
    color: #4C4C4C;
}
.navigation-tab {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
#navigation-tab-4.dropdown.open{
    -webkit-box-shadow: 0 3px 5px #A0A3A7;
    -moz-box-shadow: 0 3px 5px #A0A3A7;
    box-shadow: 0 3px 5px #A0A3A7;
    z-index: 2;
}
#navigation-tab-4.open .dropdown-menu {
    z-index: -1;
    border-radius: 0;
    border-bottom: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;
}
.navigation-tab .dropdown-menu {
    border-top: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
}
.navigation-tab .dropdown-menu li{
    height: 30px;
    font-size: 14px;
}

.navigation-tab .dropdown-menu li a {
    padding: 5px 0 !important;
    background-color: #F7F7F7 !important;
}
.navigation-tab .dropdown-menu li a:hover {
    background-color: #DEDCDC !important;
}
.navbar-toggle .icon-bar {
    background-color: #444F5A;
}
.navbar-toggle:hover {
    background-color: #EAEAEA;
}

/* ---- CAROUSEL ---- */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    min-height: 260px;
    max-height: 550px;
    margin: auto;
}
.carousel-caption h1 {
    font-size: 46px;
    color: #1C1C1D;
    font-style: italic;
    font-weight: 800;
}
.image-description {
    position: absolute;
    margin-top: -30px;
    width: 100%;
    z-index: 21;
    top: 50%;
    background-color: rgba(62, 65, 73, 0.5);
}
.image-description-text {
    color: #fff;
    font-size: 32px;
    padding: 10px;
}

/* ---- FOOTER ---- */
#vd-footer {
    background-color: #3E4149;
    max-height: 520px;
}
#footer-content {
    margin-bottom: 20px;
}
#footer-content h3 {
    padding-bottom: 7px;
    border-bottom: 2px solid #B3B3B3;
}
#footer-rights-reserved {
    color: #9E9E9E;
    font-size: 14px;
    padding-top: 20px !important;
    margin-bottom: 10px;
    border-top: 1px solid #7B7B7B;
}
.footer-contact-us {
    /*padding-left: 0;*/
}
.footer-contact-us > *, .footer-facilities > * {
    color: #fff;
}
.footer-contact-us h3 {
    margin-bottom: 5px;
}
.footer-contact-us h5 {
    color: #FF9999;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.footer-contact-us h5 .fa {
    padding-right: 3px;
}
.footer-facilities {
    font-size: 11px;
}
.footer-facilities li {
    list-style-type: none;
    line-height: 22px;
}
.footer-facilities li i {
    color: #FF9999;
    padding-right: 3px;
}
.footer-facilities li p {
    display: inline-block;
    float: right;
    margin: 0;
    font-style: italic;
    font-size: 11px;
}
.footer-facilities-column {
    padding: 0 10px;
}
#footer-feedback {
    line-height: 2.7em;
    font-size: 14px;
    text-align: right;
    margin: 5px 0;
}
#footer-feedback span {
    padding-right: 10px !important;
}

/* ---- FIXED-SIDE-INFO ----*/
#fixed-info-bar {
    position: fixed;
    left: 0;
    top: 50%;
    -ms-transform: translate(0 -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-box-shadow: 0 2px 5px #3A3A3A;
    -moz-box-shadow: 0 2px 5px #3A3A3A;
    box-shadow: 0 2px 5px #3A3A3A;
    width: 58px;
    z-index: 200;
    height: 440px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*overflow: hidden;*/
}
.fixed-line-info {
    height: 55px;
    padding: 5px 0;
    background-color: #fff;
    /*width: 58px;*/
    -webkit-box-shadow: 0 2px 5px #3A3A3A;
    -moz-box-shadow: 0 2px 5px #3A3A3A;
    box-shadow: 0 2px 5px #3A3A3A;
    border-bottom: 1px solid #7B7B7B;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
    transition:         all 0.6s ease;
}
.fixed-line-info:hover {
    width: 90px;
}
.fixed-line-info:last-child {
    border-bottom: none;
}
.fixed-info-icons {
    height: 45px;
    width: 45px;
    font-size: 12px;
}

/* ---- PAGE CONTENT ---- */
.page-content {
    background-color: #fff;
}
.page-content h1 {
    font-family: 'Oregano', cursive;
    color: #3E4149;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-holder {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}
.list-of-apartment-images {
    margin-top: 30px;
}
.list-of-apartment-images img {
    max-width: 100%;
    height: 130px;
    padding: 10px 0;
}
.thumbnail.apartment-images {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    background: url("villa-diva-images/search-plus.png") no-repeat center center;
    background-size: 80px 80px;
    /*width: calc(100% / 6);*/
}
.apart-image {
    max-width: calc(100% - 100px);
}
.apart-image:hover {
    opacity: 0.7;
}
.contact-heading {
    background-color: #3E4149;
    padding: 10px;
}
#contact-form {
    margin-top: 25px;
}
#contact-panel {
    border-color: #3E4149;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
}
#contact-form-title {
    text-transform: uppercase;
    color: #FF9999;
    font-size: 25px;
    font-weight: bold;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.input-icon-style {
    font-size: 20px;
    color: #B83B5E;
}
.confirm-button {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border-radius: 0;
}
.control-label {
    font-size: 14px;
}
.form-control {
    padding-right: 30px;
}
.beach-thumbnail {
    border: none;
    margin: 0;
    padding: 0;
}
.my-gallery figure {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 4px 4px 0 0 !important;
}
.my-gallery figure:hover .image-caption {
    opacity: 1;
    bottom: 0;
}
.thumbnails {
    margin-bottom: 0;
    margin-left: -45px;
}
.image-caption {
    position: absolute;
    right: 4px;
    bottom: -30%;
    left: 0;
    padding: 2px 5px;
    background: #333333;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
    transition:         all 0.6s ease;
}
.image-caption h4 {
    font-size: 15px;
    font-family: 'Oregano', cursive;
}
.pswp__caption__center h4 {
    text-align: center;
}
.places-content {
    padding: 20px 0;
}
.places-content h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid #BBBBBB;
}
.price-value {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #1281E4;
}
.price-title {
    font-size: 20px;
}
.price-date {
    font-weight: normal !important;
    color: #C3C3C3;
}
.nightlife-club {
    margin-bottom: 5px;
}
.nightlife-club a {
    display: inline-block;
}
.nightlife-title {
    display: inline-block;
    font-size: 22px;
    padding: 0 30px 0 0;
}
.nightlife-block {
    width: 35px;
    height: 35px;
    color: #fff;
}
.nightlife-block .fa {
    vertical-align: middle;
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 5px;
}
.location-nightlife {
    background-color: #FF5722;
}
.location-nightlife:hover {
    background-color: #FA360A;
}
.website-nightlife {
    background-color: #5DAE8B;
}
.website-nightlife:hover {
    background-color: #12BF37;
}
.face-nightlife {
    background-color: #4B68B8;
}
.face-nightlife:hover {
    background-color: #173177;
}
.video-content {
    padding: 0 20px 0 0;
}
#video-gallery h3 {
    font-size: 22px;
    font-style: italic;
}
.services-list li {
    position: relative;
    list-style: none;
    line-height: 30px;
    padding-top: 10px;
    font-size: 20px;
}
.services-list li .fa {
    padding-right: 10px;
}
.services-list-item {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.services-list {
    margin-top: 10px;
}
#highlighted-text {
    position: absolute;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc !important;
    margin: 3.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    border: 1px solid #CCCCCC;
}
blockquote .fa {
    font-size: 44px;
    display: block;
    float: left;
    padding: 3px 10px 3px 3px;
}
blockquote p {
    display: inline;
}
blockquote h2 {
    font-style: italic;
    font-weight: bold;
    float: left;
    padding-right: 30px;
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal-content {
    height: 100%;
    border-radius: 0;
}
.modal-body {
    background-color: #f0f0f0;
    padding: 12px;
}
.modal-header {
    color: #fff;
    background-color: #34AD30;
}
.modal-header button span {
    color: #000;
    font-size: 30px;
}
.modal-footer {
    border-top: 1px solid #BFBFBF;
    padding: 10px;
    background-color: #F7F7F7;
}
.modal-footer button {
    font-size: 16px;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.feedback-button {
    background-color: #BF2953;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 3px 10px !important;
    width: 100%;
}
.feedback-button:hover, .feedback-button:focus,
.feedback-button:active:focus,
.feedback-button:active {
    background-color: #840B2D;
    border: 1px solid #fff;
    box-shadow: none;
}

/* ------ FEEDBACK ------- */
.customer-image {
    border: 1px solid #B3B3B3;
    background-color: #B3B3B3;
    width: 5em;
    height: 5em;
}
.customer-info {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid #337AB7;
}
.customer-info span {
    font-style: italic;
    font-size: 16px;
}
#feedback-title {
    font-weight: bold;
    font-family: 'Oregano', cursive;
    text-decoration: underline;
}
.media-left {
    padding-right: 20px;
}
.media-body {
    padding: 20px;
    border: 1px solid #BABABA;
    background-color: #fff;
}
.media-body p {
    text-align: justify;
    font-size: 14px;
}
.user-arrow {
    top: 45px;
    left: 5.8em;
    z-index: 3;
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    position: absolute !important;
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.user-rating {
    float: left;
    padding-right: 21px;
}
.avatar-image {
    width: 5.4em;
    height: 5.4em;
    opacity: 0.35;
}
.avatar-image:hover {
    opacity: 1;
    cursor: pointer;
}
.avatar-image-active {
    border: 3px solid #06CA00;
    border-radius: 50%;
    opacity: 1;
    background-color: #06CA00;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.67);
}
.check-icon {
    position: absolute;
    font-size: 24px;
    left: 50px;
    top: 40px;
    z-index: 20;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.71);
    color: #00FF0A;
}

/****** Style Star Rating Widget *****/
fieldset, label { margin: 0; padding: 0; }
.rating {
    border: none;
    float: left;
}
.rating > input { display: none; }
.rating > label:before {
    margin: 5px 5px 0px;
    font-size: 1.65em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
}
.rating > label {
    color: #D2D2D2;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating.rating-feedback > input:checked ~ label, /* show gold star when clicked */
.rating.rating-feedback:not(:checked) > label:hover, /* hover current star */
.rating.rating-feedback:not(:checked) > label:hover ~ label {
    color: #FBBB00;
    cursor: pointer;
} /* hover previous stars in list */
.rating > input:checked ~ label {
    color: #FBBB00;
}

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { /*color: #FFED85;*/  }

.media {
    /*margin-top: 25px;*/
    /*font-size: 21px;*/
    /*text-align: center;*/

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}